@import './index.scss';
@import './semantic-ui/index.scss';

* {
	color: $texto-primario;
}

body {
	margin: 0;
	background-color: $fondo-primario;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

p {
	margin: 0;
}
a {
	color: $texto-primario;
	&:hover {
		color: $primario;
	}
}
